body {
    background-color: #e4f6f8;
    font-family: sans-serif;;
}

:root {
    --color-font-light: #8da4f1;
    --color-font-dark: #5d5d8d;
    --color-background: #a7bcff;
    --color-button: #7b96ec;
    --color-white: white;

    --background-dark: #2f2d52;
    --background-light: #ddddf7;



}